.nav{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between ;
    height: 40px;

    transition-timing-function: ease-in;
    transition: all 0.7s;
}

.nav-black{
    background-color: #111;
}

.nav-logo{
    position: fixed;
    left: 20px;
    width: 100px;
    object-fit: contain;
    top: 5px;
}
.nav-avatar{
    position: fixed;
    width: 35px;
    object-fit: contain;
    right:20px;
    top: 0px;
    
}